---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    My name is Franz-Aurel, I am 23 years old and I was born in Austria. I am
    currently studying <a
      href="https://www.ustp.at/en/study-programmes/media-digital-technologies/creative-computing/course-contents"
      target="_blank"
      rel="noopener noreferrer"
      style="text-decoration: underline;">Creative Computing</a
    > at UAS St. Pölten. I like good design and I am a perfectionist at heart. I
    love logic and problem solving and I love fixing my cars.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="BSc, Creative Computing"
      subtitle="2023 until now at USTP – University of Applied Sciences St. Pölten, Austria"
    />
    <TimeLineElement
      title="Smart Engineering"
      subtitle="2022 to 2023 at USTP – University of Applied Sciences St. Pölten, Austria"
    />
    <TimeLineElement
      title="Matura"
      subtitle="2012 to 2020 at BRG Krems Ringstraße, Krems an der Donau, Austria"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Part-Time Software Developer, Niederösterreichische Versicherung AG"
      subtitle="since November 2025"
    />
    <TimeLineElement
      title="Frontend Development Intern, Niederösterreichische Versicherung AG"
      subtitle="August 2025 to October 2025"
    />
    <TimeLineElement
      title="Crisis Management Support, Land Niederösterreich"
      subtitle="December 2021 to June 2023"
    />
    <TimeLineElement
      title="Summer Job, Geberit Pottenbrunn"
      subtitle="July 2021 to August 2021"
    />
    <TimeLineElement
      title="Civil Service, NÖ Pflege- und Betreuungszentrum Herzogenburg"
      subtitle="October 2020 to June 2021"
    />
    <TimeLineElement
      title="Summer Job, Geberit Pottenbrunn"
      subtitle="July 2020"
    />
    <TimeLineElement
      title="Internship, Stadtgemeinde Traismauer, Rathaus"
      subtitle="August 2019"
    />
    <TimeLineElement
      title="Summer Job, NÖ Pflege- und Betreuungszentrum Herzogenburg"
      subtitle="August 2018"
    />
    <TimeLineElement
      title="Internship, Bauamt Traismauer"
      subtitle="July 2018"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a
        href="https://www.linkedin.com/in/franz-aurelhuber/details/certifications/"
        target="_blank"
        rel="noopener noreferrer"
        style="text-decoration: underline;"
      >
        Google: Introduction to Generative AI</a
      >
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/franz-aurelhuber/details/certifications/"
        target="_blank"
        rel="noopener noreferrer"
        style="text-decoration: underline;"
      >
        Cambridge English C1 Advanced</a
      >
    </li>
    <li>
      <a
        href="https://cert.efset.org/ApcqTH"
        target="_blank"
        rel="noopener noreferrer"
        style="text-decoration: underline;"
      >
        EF SET English Certificate 72/100 (C2 Proficient)</a
      >
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/franz-aurelhuber/details/certifications/"
        target="_blank"
        rel="noopener noreferrer"
        style="text-decoration: underline;"
      >
        Google: Data Engineer Basics</a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Languages</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>German – mother tongue</li>
    <li>English – fluent</li>
    <li>French – intermediate</li>
  </ul>
</BaseLayout>
