---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hi 👋</div>
    <div class="text-5xl font-bold">I'm Franz-Aurel Huber</div>
    <div class="text-3xl py-3 font-bold">Student at UAS St. Pölten</div>
    <div class="py-2 text-lg">
      I like <b>frontend development</b> and <b>UI/UX design</b>. I am
      passionate about creating seamless digital experiences and I love cars. I
      started programming in late 2022 as part of my studies and I aim to
      improve ever since.
    </div>
    <div class="mt-8">
      <a
        href="https://github.com/frvnzz"
        target="_blank"
        class="btn btn-outline">Check out my GitHub</a
      >
    </div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }

  <div class="mt-8">
    <div class="text-3xl font-bold mb-3">Skills &lt;/&gt;</div>
    <ul class="flex flex-wrap gap-3">
      <li class="px-3 py-1 rounded-full border">Object-Oriented Programming</li>
      <li class="px-3 py-1 rounded-full border">Git</li>
      <li class="px-3 py-1 rounded-full border">SQL</li>
      <li class="px-3 py-1 rounded-full border">Tailwind CSS</li>
      <li class="px-3 py-1 rounded-full border">Figma</li>
      <li class="px-3 py-1 rounded-full border">C#</li>
      <li class="px-3 py-1 rounded-full border">React</li>
      <li class="px-3 py-1 rounded-full border">JavaScript</li>
      <li class="px-3 py-1 rounded-full border">Node.js</li>
      <li class="px-3 py-1 rounded-full border">Blender</li>
      <li class="px-3 py-1 rounded-full border">Astro</li>
      <li class="px-3 py-1 rounded-full border">Kotlin</li>
      <li class="px-3 py-1 rounded-full border">Yaml</li>
      <li class="px-3 py-1 rounded-full border">Next.js</li>
      <li class="px-3 py-1 rounded-full border">Room Database</li>
      <li class="px-3 py-1 rounded-full border">Unity</li>
      <li class="px-3 py-1 rounded-full border">Kanban</li>
      <li class="px-3 py-1 rounded-full border">Adobe Creative Suite</li>
      <li class="px-3 py-1 rounded-full border">TypeScript</li>
      <li class="px-3 py-1 rounded-full border">Homebrew</li>
      <li class="px-3 py-1 rounded-full border">npm/pnpm</li>
      <li class="px-3 py-1 rounded-full border">Bash</li>
      <li class="px-3 py-1 rounded-full border">Zsh</li>
    </ul>
  </div>
</BaseLayout>
