---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hi</div>
    <div class="text-5xl font-bold">I'm Franz</div>
    <div class="text-3xl py-3 font-bold">Student at UAS St. Pölten</div>
    <div class="text-2xl py-2">
      I like frontend development and UI/UX design.
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">
      My latest projects can be found on <a
        href="https://github.com/frvnzz"
        class="text-blue-500 underline">GitHub {"</>"}</a
      >
    </div>
  </div>

  <div class="mt-6">
    <div class="text-2xl font-bold">Skills</div>
    <ul class="list-disc pl-5 mt-2 text-lg">
      <li>Figma</li>
      <li>Object-Oriented Programming</li>
      <li>Git</li>
      <li>Adobe Creative Suite</li>
      <li>Kotlin</li>
      <li>HTML</li>
      <li>Astro</li>
      <li>Node.js</li>
      <li>Blender</li>
      <li>C#</li>
      <li>Unity</li>
      <li>SQL</li>
    </ul>
  </div>
</BaseLayout>
