---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hi</div>
    <div class="text-5xl font-bold">I'm Franz</div>
    <div class="text-3xl py-3 font-bold">Student at UAS St. Pölten</div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">
      My last projects can be found on GitHub {"</>"}
    </div>
  </div>
</BaseLayout>
